body 
{
    background-color: #CECEC2;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size:20px;
}   

#container
{
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
}

.rectangle
{
    width:960px;
    margin:20px;
    text-align:center;
}

.square
{
    width:50%;
    float:left;
}

#logo
{
    float:left;
    font-family: 'Lora', serif;
    font-size:70px;
    width:600px;
    text-align:left;
}

#zegar
{
    float:left;
    font-family: 'Lora', serif;
    font-size:70px;
    text-align:left;
}

.tile1
{
    margin:10px;
    width:230px;
    height:142px;
    background-color:#8B83A6;
    float:left;
    text-align:center;
}

.tile1:hover
{
    background-color:#7A72A6;
}

.tile2
{
    margin:10px;
    width:230px;
    height:142px;
    background-color:#666666;
    float:left;
    text-align:center;
}

.tile2:hover
{
    background-color:#555555;
}

.tile3
{
    margin:10px;
    width:230px;
    height:142px;
    background-color:#83A68B;
    float:left;
    text-align:center;
}

.tile3:hover
{
    background-color:#72A57A;
}

.tile4
{
    margin:10px;
    width:420px;
    height:82px;
    background-color:#DB9372;
    text-align:center;
    font-size: 20px;
    padding: 30px;
    line-height:120%;
}

.tile5
{
    margin:10px;
    width:420px;
    height:244px;
    background-color:#666666;
    text-align:center;
    text-align:justify;
    padding:30px;
}

.blog
{
    margin:10px;
    width:104px;
    height:142px;
    background-color:#f57d00;
    float:left;
}

.blog:hover
{
    background-color:#E46C00;
}

.fb
{
    margin:10px;
    width:104px;
    height:142px;
    background-color:#4668B3;
    float:left;
}

.fb:hover
{
    background-color:#3557A2;
}

.ln
{
    margin:10px;
    width:104px;
    height:142px;
    background-color:#2867B2;
    float:left;
}

.ln:hover
{
    background-color:#1756A1;
}

.insta
{
    margin:10px;
    width:104px;
    height:142px;
    background-color:#fb3958;
    float:left;
}

.insta:hover
{
    background-color:#EA2847;
}

a.tilelink
{
    color:#FFFFFF;
    text-decoration:none;
    display:block;
    width:230px;
    height:142px;
}

a.sociallink
{
    color:#FFFFFF;
    text-decoration:none;
    display:block;
    width:104px;
    height:142px;
}

a.tilelink0
{
    color:#000000;
    text-decoration:none; 
}